<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Code</title>
</head>

<body>
    <form action="/submit" method="post">
        <label for="passcode">Team passcode:</label><br>
        <input type="text" id="passcode" name="passcode"><br><br>

        <label for="python">Python code:</label><br>
        <textarea id="python" name="python" rows="15" cols="50"></textarea><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>
